*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.main-container{
    background-color: #0F1624;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 100rem;
}
nav{
    justify-content: space-evenly;
    background-color: #0F1624;
    padding: 25px 35px;
    /* drop shadow https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow */
    color: white;
    display: flex;
    z-index: 1;
    cursor: pointer;
}
nav p{
    color: white;
}
nav p:hover{
    color: papayawhip;
}
nav p{
    font-weight: bold;
    padding: 0 35px;
    font-size: 1.2rem;
}
.nav-flex-end{
    display: flex;
}
.info-header{
    font-size: 3.3rem;
    font-weight: bolder;
}
.persoonlijk-info{
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.beschrijving{
    display: flex;
    width: 580px;
    padding: 9px 0;
}
h2{
    padding: 1px 0;
}
.skills{
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
}
.skills-layout{
    color: white;
    padding-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;

}
.skills-layout .photoshop a{
    display: flex;
    height: 0.5rem;
    width: 3rem;
    color: black;
    margin: 0 auto;
    background-color: rgba(252, 231, 126, 1);
    border-radius: 25px;
}

.skills-layout2{
    color: white;
    padding-top: 55px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.full-screen h3{
    display: flex;
    text-align: center;
    margin-top: 2rem;
    padding: 0 0.9rem;
    font-size: 1.5rem;
}
.photoshop{
    max-width: 30%;
    margin: 0 auto;
    background-color: #0F1624;
    padding: 5px;
    border-radius: 25px;
    filter: drop-shadow(5px 5px 35px rgba(255, 255, 255, 25%));
}
.photoshop img{
    border-radius: 25px;
    width: 100%;
}
.photoshop h1{
    color: lightblue;
}
.photoshop button{
    display: flex;
    cursor:  pointer;
    margin: 5rem auto;
    background-color: lightblue;
    padding: 9px 15px;
    border-radius: 15px;
    border: none;
    color: white;
}
.photoshop p{
    padding-top: 1rem;
    text-align: center;
}


.illustrator img{
    border-radius: 25px;
    width: 100%;
}
.illustrator h1{
    color: darkorange;
}
.illustrator button{
    display: flex;
    cursor:  pointer;
    margin: 5rem auto;
    background-color: darkorange;
    padding: 9px 15px;
    border-radius: 15px;
    border: none;
    color: white;
}
.illustrator p{
    padding-top: 1rem;
    text-align: center;
}
.illustrator{
    max-width: 30%;
    margin: 0 auto;
    background-color: #0F1624;
    padding: 5px;
    border-radius: 25px;
    filter: drop-shadow(5px 5px 35px rgba(255, 255, 255, 25%));
}
.skills-layout .illustrator a{
    display: flex;
    height: 0.5rem;
    width: 3rem;
    color: black;
    margin: 0 auto;
    background-color: rgba(252, 231, 126, 1);
    border-radius: 25px;
}

.after{
    max-width: 35%;
    margin: 0 auto;
    background-color: #0F1624;
    padding: 5px;
    border-radius: 25px;
    filter: drop-shadow(5px 5px 35px rgba(255, 255, 255, 25%));
}
.after img{
    border-radius: 25px;
    width: 100%;
}
.after h1{
    color: blue;
}
.after button{
    display: flex;
    cursor:  pointer;
    margin: 5rem auto;
    background-color: blue;
    padding: 9px 15px;
    border-radius: 15px;
    border: none;
    color: white;
}
.after p{
    padding-top: 1rem;
    text-align: center;
}


.skills-header{
    display: flex;
    font-weight: bold;
    color: white;
    font-size: 2.9rem;
}

.rode-bar{
    display: flex;
    background: rgb(185,16,251);
    background: linear-gradient(90deg, rgba(185,16,251,1) 0%, rgba(0,219,255,1) 100%); /* gradiant https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient*/
    border: none;
    width: 130px;
    border-radius: 5px;
    height: 10px;
}
.rode-bar3{
    display: flex;
    background: rgb(185,16,251);
    background: linear-gradient(90deg, rgba(185,16,251,1) 0%, rgba(0,219,255,1) 100%);
    border: none;
    width: 320px;
    border-radius: 5px;
    height: 10px;
}

.bold{
    display: flex;
    justify-content: center;
    padding: 9px;
    font-size: 2.4rem;
    letter-spacing: .3rem;  /* letter spacing https://developer.mozilla.org/en-US/docs/Web/CSS/letter-spacing*/
}
.contact{
    display: flex;
    color: #0F1624;
    flex-direction: column;
}
.contact h2{
    font-size: 2.9rem;
    display: flex;
    color: white;
}
.contact-submit{
    text-decoration: none;
    color: white;
    background-color: #0F1624;
    border: none;
    display: flex;
    width: 10rem;
    margin-top: 35px;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}
#popup1 img{
    width: 50%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    margin: 0 auto;
}
#popup2 img{
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    margin: 0 auto;
}
#popup3 img{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    margin: 0 auto;
}
.rode-bar2{
    display: flex;
    background: rgb(185,16,251);
    background: linear-gradient(90deg, rgba(185,16,251,1) 0%, rgba(0,219,255,1) 100%);
    border: none;
    width: 330px;
    border-radius: 5px;
    height: 10px;
}
.rode-bar4{
    display: flex;
    background: rgb(185,16,251);
    background: linear-gradient(90deg, rgba(185,16,251,1) 0%, rgba(0,219,255,1) 100%);
    border: none;
    width: 250px;
    border-radius: 5px;
    height: 10px;
}
form{
    padding: 30px 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
form label{
    margin: 20px 0;
}
::placeholder{          /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_placeholder*/
    color: white;
    font-size: 2.0rem;
;
}
#email{
    display: flex;
    background-color: #0F1624;
    border-radius: 25px;
    border: 1px solid white;
    padding: 1.5rem;
}
#name{
    display: flex;
    background-color: #0F1624;
    border-radius: 25px;
    border: 1px solid white;
    padding: 1.5rem;
}

.reflectie__wpl{
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 55px;
}
.reflectie__wpl h2{
    font-size: 2.9rem;
    display: flex;
    color: white;
}
.reflectie__wpl p {
    font-size: 1.2rem;
    padding-top: 2rem;
}

.reflectie__wpl a{
    text-decoration: none;
    color: white;
    background-color: #0F1624;
    display: flex;
    margin: 1.5rem 0;
    font-size: 1.7rem;
    font-weight: bold;
}
footer{
    display: flex;
    flex-direction: column;
}
footer p{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 25px;
    cursor: pointer;
    color: white;
    font-size: 1.3rem
}
footer p:hover{
    color: #483D8B;
}
.main__copyright{
    display: flex;
    color: white;
    height: 7rem;
    align-items: center;
    padding: 16px;
    justify-content: center;
    background-color: #0F1624;
}
.fixed-home{
    position: fixed;
    background-color: rgba(0,219,255,1);
    top: 47rem;
    right: 3rem;
    z-index: 1;
    padding: 1rem;
    rotate: -90deg;
}
.wpl2-case h2 {
    font-size: 2.9rem;
    display: flex;
    color: white;
}
.wpl2-case h1{
    color: white;
}
.mail-icon{
    color: white;
}
.fa-solid{
    font-size: 2rem;            // https://www.w3schools.com/icons/fontawesome_icons_intro.asp
}
.fa-brands{
    font-size: 2rem;
}
.iconen{
    display: flex;
    width: 5rem;
    justify-content: space-evenly;
}
.wpl2-case li{
    color: white;
}
.wpl2-case ol{
    margin-bottom: 1rem;
}
.wpl2-case-text{
    margin: 1rem 0;
}
.wpl2-case-text p{
    color: white;
}
.case-documentatie p{
    color: white;
}
.wpl2-case-deliver{
    margin:1rem 0;
}
.wpl2-case-deliver li{
    list-style-type: none;
}
@media screen and (max-width: 65rem){
    .persoonlijk-info{
        margin-left: 1rem;
    }
    .skills{
        margin: 0 1rem;
    }
    .contact{
        display: block;
    }
    .contact-submit{
        width: 10rem;
        font-size: 1.6rem;
    }


    .reflectie__wpl{
        margin: 0 1rem;
    }
    .reflectie__wpl p{
        font-size: 1rem;
    }
    .fixed-home{
        top: 45rem;
    }
    .wpl2-case{
        margin-left: 1rem;
    }
    .contact{
        margin-left: 1rem;
    }
    .after{
        max-width: 50%;
    }
    .photoshop{
        max-width: 100%;
        margin-bottom: 3rem;
    }
    .illustrator{
        max-width: 100%;
    }
}
@media screen and (max-width: 40rem){
    nav p{
        font-size: 1rem;
        padding: 0 15px;
    }
    .skills-layout{
        flex-direction: column;


    }
    .info-header{
        font-size: 2.3rem;
    }
    .after{
        max-width: 100%;
    }


    .persoonlijk-info{
        margin-left: 1rem;
    }
    .beschrijving{
        display: flex;
        font-size: 0.9rem;
    }
    .wpl2-case{
        margin-right: 1rem;
    }
}
@media screen and (max-width: 30rem){
    nav p{
        font-size: 0.8rem;
        padding: 0 5px;
    }
    .beschrijving{
        max-width: 100%;
    }

    .wpl2-case{
        margin-right: 1rem;
    }
    .rode-bar2{
        width: auto;
    }
    .rode-bar3{
        width: auto;
    }
    .after{
        max-width: 100%;
    }
}
.full-screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.9);
    border-radius: 35px;
}

.full-screen{
    color: white
}

.verstopt {
    display: none;
}